{% extends 'genericos/base.html' %}
{% load static %}

{%block title%}
    <title>cambiar contrasenia</title>
{%endblock title%}

{%block h1%}
<h1 class="text-white font-weight-bold">cambiar contrasenia</h1>
{%endblock h1%}


{%block subtitle%}
<p class="text-white-75 mb-5">configuraciones de perfil</p>
<a class="btn btn-primary btn-xl" href='#about'>cambia tu contrasenia</a>
{%endblock subtitle%}

{%block about%}

{%if form.errors%}
<p style=red>hay errores</p>
{%endif%}
<form id="about" action={%url 'usuario:cambiar_contrasenia' %} method="post">
    {%csrf_token%}
    <table>
        {{form}}
    </table>
    <button>cambiar</button>
</form>
{%endblock about%}