{% extends 'genericos/base.html' %}
{% load static %}

{%block title%}
    <title>editar perfil</title>
{%endblock title%}

{%block h1%}
<h1 class="text-white font-weight-bold">editar perfil</h1>
{%endblock h1%}


{%block subtitle%}
<p class="text-white-75 mb-5">configuraciones de perfil</p>
<a class="btn btn-primary btn-xl" href="#nav-login">edita tu perfil!</a>
{%endblock subtitle%}

{%block about%}
{% if formulario.errors %}
<p style="color: red">Hay  errores al querer modificar el formulario</p>
{% endif %}
<div id="nav-login">
    <form action={%url 'usuario:editar_perfil' %} method="post" enctype = 'multipart/form-data'>
        {%csrf_token%}
        <table>
            {{formulario}}
        </table>
        <button type='button'><a class="navbar-brand" href={% url 'usuario:cambiar_contrasenia' %}>Cambiar contrasenia</a></button>
        <button>editar</button>
    </form>
</div>
{%endblock about%}

