{% extends 'genericos/base.html' %}
{% load static %}

{%block title%}
    <title>inicio</title>
{%endblock title%}

{%block h1%}
<h1 class="text-white font-weight-bold">registro</h1>
{%endblock h1%}


{%block subtitle%}
<p class="text-white-75 mb-5">segunda edicion del festival mas esperado por los chicos</p>
<a class="btn btn-primary btn-xl" href="{% url 'entradas:entradas' %}">registrate aca!</a>
{%endblock subtitle%}

{%block about%}

<form action={%url 'usuario:registro' %} method="post" enctype = 'multipart/form-data'>
    {%csrf_token%}
    <table>
        {{formulario}}
    </table>
    <button>registrarse</button>
</form>
{%endblock about%}