{% extends 'genericos/base.html' %}
{% load static %}

{%block title%}
    <title>comprar entradas</title>
{%endblock title%}

{%block h1%}
<h1 class="text-white font-weight-bold">Venta de entradas</h1>
{%endblock h1%}

{%block subtitle%}
<p class="text-white-75 mb-5">Compra tus entradas y recibilas por mail al instante</p>
<a class="btn btn-primary btn-xl" href="#contact">Saca tus entradas aca!!!</a>
{%endblock subtitle%}


{%block about%}
    <form id="contact" action="{% url 'entradas:entradas' %}" method="POST">
        {% csrf_token %}
        {{formulario}}
        <button>enviar</button>
    </form>        
{%endblock about%}