{% extends 'genericos/base.html' %}
{% load static %}

{%block title%}
    <title>clientes</title>
{%endblock title%}

{%block h1%}
<h1 class="text-white font-weight-bold">Mis entradas</h1>
{%endblock h1%}

{%block subtitle%}
<p class="text-white-75 mb-5">podes averiguar en que estado se encuentran tus entradas!</p>
<a class="btn btn-primary btn-xl" href="#contact">clickea aca!!</a>
{%endblock subtitle%}


{%block about%}
    <p>
        <form id="contact" action="#contact">
            <h4>Ingrese su nombre para que lo busquemos en la base de datos</h4>
            {{formulario}}
            <button>buscar</button>
        </form>
    </p>

    {% if clientes %}
        {% for cliente in clientes %}
            <div id="Mensaje-consulta">
                <p>Usted ya tiene {{cliente.cant_entradas}} entradas aseguradas, pronto le llegaran al mail! </p>
            <ul>
                <li>nombre: {{cliente.nombre}}</li>
                <li>mail: {{cliente.mail}}</li>
                <li>entradas compradas = {{cliente.cant_entradas}}</li>
            </ul>
            <div class="cancelar_compra">
                <h4>Para cancelar la compra ingrese aqui: </h4>
                <button><a class="navbar-brand" href={% url 'entradas:cancelar_compra' cliente.id %}>cancelar compra</a></button>
            </div>
            <div class="modificar_compra">
                <h4>Si desea modificar algun dato de la compra ingrese aqui: </h4>
                <button><a class="navbar-brand" href={% url 'entradas:modificar_compra' cliente.id %}>modificar compra</a></button>
            </div>
            <div class="mostrar_compra">
                <h4>para ver con mas detalles su compra: </h4>
                <button><a class="navbar-brand" href={% url 'entradas:mostrar_compra' cliente.id %}>mostrar compra</a></button>
            </div>
            </div>
        {% endfor %}
    {%else%}
    <p>no hay datos que coincidan con su busqueda, verifique bien el nombre con el que compro las entradas o si todavia no lo hizo vaya a la seccion de la misma</p>
    {% endif %}

    <style>
    #Mensaje-consulta{
        background-color: #c5d5c5;
    }
    </style>
    {%endblock about%}