{% extends 'genericos/base.html' %}
{% load static %}

{%block title%}
    <title>clientes</title>
{%endblock title%}

{%block h1%}
<h1 class="text-white font-weight-bold">clientes</h1>
{%endblock h1%}

{%block subtitle%}
<p class="text-white-75 mb-5">listado de clientes</p>
<a class="btn btn-primary btn-xl" href="#contact">mira los clientes</a>
{%endblock subtitle%}


{%block about%}
    <p>
        <form id="contact" action="#contact">
            <!-- {% url 'entradas:lista-clientes' %} -->
            <h3>Ingrese su nombre para que lo busquemos en la base de datos</h3>
            {{formulario}}
            <button>buscar</button>
        </form>
    </p>
    
    {% if clientes %}
        {% for cliente in clientes %}
            <p>Usted ya tiene asegurada su entrada!</p>
            <ul>
                <li>nombre: {{cliente.nombre}}</li>
                <li>mail: {{cliente.mail}}</li>
                <li>entradas compradas = {{cliente.cant_entradas}}</li>
            </ul>
        {% endfor %}
    {%else%}
    <p>no hay datos que coincidan con su busqueda, verifique bien el nombre con el que compro las entradas o si todavia no lo hizo vaya a la seccion de la misma</p>
    {% endif %}
{%endblock about%}