{% extends 'genericos/base.html' %}
{% load static %}

{%block title%}
    <title>quienes somos</title>
{%endblock title%}

{%block h1%}
<h1 class="text-white font-weight-bold">Un poco sobre nosotros</h1>
{%endblock h1%}

{%block subtitle%}
<p class="text-white-75 mb-5">Los chicos de 5to economia</p>
<a class="btn btn-primary btn-xl" href="#contact">conoce mas sobre la iniciativa de este proyecto</a>
{%endblock subtitle%}

{% block about %}
<section id="contact" class="about">
    <div class="about-container">
        <img src="../../static/entradas/assets/img/head.jpg" alt="imagen5to" class="about-img">
        <h3 class="about-title">Somos los chicos de 5B economía</h3>
        <p class="about-description">Lo principal de este proyecto es integrar los conocimientos de 3 materias: economía, proyecto organizacional y creatividad con salida laboral. De esta manera, pondremos en práctica conceptos como las diferentes áreas organizacionales, el trabajo en equipo dentro de una empresa, el manejo de excel, la coordinación de grupos de baile, el manejo de dinero, ventas, y muchos requeridos para crear un proyecto de este calibre 
            Nuestro objetivo es aprender divirtiéndonos, saliendo de lo convencional. Nos parece que un festival en el último año dejaría tanto una marca en nosotros como en el colegio, incentivando el espíritu janeriano. También nos parece importante que todos y todas participemos en este festejo. 
            </p>
    </div>

</section>

<style>
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgb(107, 103, 183);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;

      }
      
      .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        
      }
      
      .about-img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }
      
      .about-title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      
      .about-description {
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      
      
</style>
{% endblock about %}
