{% extends 'genericos/base.html' %}
{% load static %}

{%block title%}
    <title>clientes</title>
{%endblock title%}

{%block h1%}
<h1 class="text-white font-weight-bold">Mis entradas</h1>
{%endblock h1%}

{%block subtitle%}
<p class="text-white-75 mb-5">podes averiguar en que estado se encuentran tus entradas!</p>
<a class="btn btn-primary btn-xl" href="#contact">clickea aca!!</a>
{%endblock subtitle%}


{%block about%}
 {% comment %}    <p>
        <form id="contact" action="#contact">
            <h4>Ingrese su nombre para que lo busquemos en la base de datos</h4>
            {{form}}
            <button>buscar</button>
        </form>
    </p> {% endcomment %}

    {% if object_list %}
        {% for cliente in object_list %}
        {% if cliente.user == request.user %}
            <div id="Mensaje-consulta">
                {% comment %} <p>Usted ya tiene {{cliente.cant_entradas}} entradas aseguradas, pronto le llegaran al mail! </p> {% endcomment %}
            <ul>
                <li>nombre: {{cliente.nombre}}</li>
                <li>mail: {{cliente.mail}}</li>
                <li>entradas compradas = {{cliente.cant_entradas}}</li>
                <li>fecha de compra ={{cliente.created_at|date:"d/m/Y"}}</li>
            </ul>
            <p>Usted compro {{cliente.cant_entradas}} entradas el {{cliente.created_at|date:"d/m/Y"}}</p>
            <div class="cancelar_compra">
                <h4>Para cancelar la compra ingrese aqui: </h4>
                <button><a class="navbar-brand" href={% url 'entradas:cancelar_compra' cliente.id %}>cancelar compra</a></button>
            </div>
            <div class="modificar_compra">
                <h4>Si desea modificar algun dato de la compra ingrese aqui: </h4>
                <button><a class="navbar-brand" href={% url 'entradas:modificar_compra' cliente.id %}>modificar compra</a></button>
            </div>
            <div class="mostrar_compra">
                <h4>para ver con mas detalles su compra: </h4>
                <button><a class="navbar-brand" href={% url 'entradas:mostrar_compra' cliente.id %}>mostrar compra</a></button>
            </div>
            </div>
            {% endif %}
        {% endfor %}
    {%else%}
    <p>No tiene compras realizadas hasta el momento</p>
    {% endif %}    
    <style>
    #Mensaje-consulta{
        background-color: #c5d5c5;
    }
    </style>
    {%endblock about%}