
{% extends 'genericos/base.html' %}
{% load static %}

{%block title%}
    <title>mostrar compra</title>
{%endblock title%}

{%block h1%}
<h1 class="text-white font-weight-bold">Mis compras</h1>
{%endblock h1%}

{%block subtitle%}
<p class="text-white-75 mb-5">Podes cancelar cualquiera de tus compras y se te devolverá el dinero</p>
<a class="btn btn-primary btn-xl" href="#services">clickea aca para ver tus compras!!</a>
{%endblock subtitle%}


{%block about%}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Tus compras</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">entradas</h3>
                    <p class="text-muted mb-0">{{cliente.cant_entradas}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">fecha de compra</h3>
                    <p class="text-muted mb-0">{{cliente.created_at|date:"d/m/Y"}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Metodo de pago</h3>
                    <p class="text-muted mb-0">{{cliente.metodo_pago}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">mail registrado</h3>
                    <p class="text-muted mb-0">{{cliente.mail}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">opinion</h3>
                    <p class="text-muted mb-0">{{cliente.}}</p>
                </div>
            </div>
        </div>
    </div>
</section>  
{%endblock about%}